fastapi==0.79.0
keras==2.9.0
numpy==1.22.4
pandas==1.4.3
scikit-learn==1.1.1
starlette==0.19.1
tensorflow==2.9.1
tensorflow-addons==0.16.1
uvicorn==0.18.2
python-multipart==0.0.5
rpy2==3.5.15
